@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
.header {
  padding: 1.275rem 1rem 1.5rem;
  *zoom: 1;
  width: auto;
  max-width: 960px;
  float: none;
  display: block;
  margin-right: auto;
  margin-left: auto;
  padding-left: 0;
  padding-right: 0;
}
.header:before,
.header:after {
  content: '';
  display: table;
}
.header:after {
  clear: both;
}
.header h1 {
  margin: 0;
}
.link {
  color: #000;
  text-decoration: none;
  background-color: transparent;
  border: 0;
}
.link:hover {
  text-decoration: underline;
  color: #afacac;
}
.link:focus {
  outline: none;
}
.link:active {
  color: #585555;
}
.horizontal-list-item {
  display: inline-block;
}
.horizontal-list {
  list-style-type: none;
}
.markdown-container {
  overflow: hidden;
}
li.nav-item {
  list-style: none;
  margin: 0.35 0;
  padding-bottom: 0.4em;
  font-family: 'Roboto';
  font-size: 1.2rem;
  border-bottom: 1px solid #ccc;
}
li.nav-item ul.nav-children {
  margin: 0.35em 0;
}
li.nav-item ul.nav-children li {
  font-family: 'Roboto Slab';
  font-size: 1rem;
  line-height: 1.7;
  border: 0;
  padding-bottom: 0.15em;
}
.nav-list,
.nav-children {
  padding: 0;
  margin: 0;
}
.nav {
  position: fixed;
  top: 0;
  right: 100%;
  bottom: 0;
  left: -100%;
  overflow: scroll;
  background-color: #f8f8f8;
  z-index: 9999;
  padding: 2rem;
  border-right: 1px solid #f0f0f0;
  box-shadow: 0 0 7px 1px rgba(0,0,0,0.45);
  font-family: 'Roboto', sans-serif;
  transition: right 0.5s;
}
.nav > .nav-list > .nav-item {
  margin-top: 0.5rem;
}
.nav > .nav-list > .nav-item > .nav-link {
  font-weight: bold;
}
button.nav-close,
button.nav-toggle {
  border: 1px solid #000;
  background-color: #222;
  color: #fff;
  border-radius: 20px;
  height: 40px;
  text-align: center;
  padding: 0 20px;
  text-decoration: none;
  font-size: 1rem;
}
button.nav-close:focus,
button.nav-toggle:focus {
  outline: none;
}
.nav-close {
  width: 40px;
  padding: 0;
  position: absolute;
  top: 1rem;
  right: 1rem;
}
.nav-close:before {
  font-family: FontAwesome;
  content: '\f00d';
  width: 1rem;
  position: absolute;
  top: 12px;
  left: 13px;
}
.nav-toggle {
  position: absolute;
  top: 2rem;
  right: 1rem;
  transition: background 0.35s;
  transition: color 0.15s;
}
.nav-toggle:before {
  font-family: FontAwesome;
  content: '\f0c9';
  width: 1rem;
  margin-right: 6px;
  display: inline-block;
}
.nav-toggle.active {
  color: #222;
  background: #f8f8f8;
}
.nav-toggle.active:before {
  content: '\f00d';
}
.page {
  padding-bottom: 5rem;
}
.preview-breakpoints-button:hover {
  text-decoration: none;
  cursor: pointer;
}
.preview-breakpoints-item {
  border: 1px solid #000;
  border-left: 0;
}
.preview-breakpoints-item:first-of-type {
  border-left: 1px solid #000;
  border-radius: 1rem 0 0 1rem;
  padding-left: 0.5rem;
}
.preview-breakpoints-item:last-of-type {
  border-radius: 0 1rem 1rem 0;
  padding-right: 0.5rem;
}
.preview-breakpoints-item.active {
  background-color: #373737;
}
.preview-breakpoints-item.active .preview-breakpoints-button {
  color: #fff;
}
.preview-breakpoints {
  text-align: center;
}
.preview-state-variant {
  padding-bottom: 0.5rem;
}
.preview-state-variant:last-of-type {
  padding-bottom: 0;
}
.preview {
  overflow: hidden;
  position: relative;
  top: 0;
  left: 0;
  background-color: transparent;
  display: block;
  transition: height 0.5s, width 0.5s, margin-left 0.5s;
}
.preview iframe {
  border: 0;
}
.state-headline {
  padding-bottom: 0.5rem;
}
.tabs-item {
  display: none;
}
.tabs-item.active {
  display: block;
}
.tabs-nav {
  padding-top: 1rem;
}
.tabs-nav-list {
  display: inline;
  margin: 0;
  padding: 0;
}
.tabs-nav-item {
  display: inline-block;
}
.tabs-nav-item:after {
  content: '|';
  color: #afacac;
}
.tabs-nav-item:last-of-type:after {
  content: '';
}
.tabs-nav-link {
  text-decoration: none;
}
.tabs-nav-link,
.tabs-nav-item.active .tabs-nav-link:hover {
  color: #afacac;
}
.tabs-nav-item.active .tabs-nav-link {
  color: #000;
}
